body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

form {
  margin-bottom: 0px;
}

h3 {
  margin: 0px 0px 0px 0px;
}

#settings {
  height: 15%;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0%;
  background-color: beige;
}

#cy {
  height: 85%;
  width: 60%;
  position: absolute;
  left: 0;
  top: 15%;
}

#info{
  height: 100%;
  width: 40%;
  position: absolute;
  left: 60%;
  top: 0;
  background-color: beige;

}